<footer class="footer  text-center " style="background-color: #6a3e8c;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ">
        <h6 class="text-uppercase mb-4" style="text-align: left;">Ubicación</h6>
        <p class="lead mb-0 as" style="text-align: left;">
          Corporativos Arcos Cristal, "Plaza Cristal", Plan de Ayala número 825, Col. Teopanzolco, Cuernavaca, Morelos.

        </p>

      </div>
      <div class="col-lg-4">

        <h6 class="text-uppercase mb-4" style="text-align: left;">Personas morales deben de agendar cita al correo </h6>
        <p class="lead mb-0 as" style="text-align: left;">smyt.plazacristal@morelos.gob.mx</p>

      </div>

      <div class="col-lg-4">

        <h6 class="text-uppercase mb-4" style="text-align: left;">Horario de atención </h6>
        <p class="lead mb-0 as" style="text-align: left;">9:00 am - 2:00 pm</p>

      </div>
    </div>
  </div>



</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white " style="background-color: #421f61;">
  <div class="container"><small style="color: #ffffff">Copyright © SMyT</small></div>

</div>